*

!.gitignore

!.config/
!.config/nvim/
!.config/nvim/**
!.config/ghostty/
!.config/ghostty/**
!.config/opencode/
!.config/opencode/**
!.config/opencode/agent/
!.config/opencode/agent/**

!.tmux.conf
!.zshrc
!.config/starship.toml
